/*por alguna razón no está pegado arriba */

header {
    background-color: black;
    color: white;
    padding:0;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#formqr {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
#qrcode {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}